Work/vendor/
Work/node_modules/
Work/npm-debug.log

# Laravel 4 specific
Work/bootstrap/compiled.php
Work/app/storage/

# Laravel 5 & Lumen specific
Work/public/
Work/storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
Work/public/css/app.css
Work/public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg
Work/public/mix-manifest.json
Work/public/js/app.js
Work/package-lock.json
Work/package.json
