Work/vendor/
Work/node_modules/
Work/npm-debug.log
Work/public/css
Work/public/fonts
Work/public/js
Work/public/.htaccess
Work/public/0.js
Work/public/1.js
Work/public/2.js
Work/public/3.js
Work/public/4.js
Work/public/5.js
Work/public/6.js
Work/public/7.js
Work/public/8.js
Work/public/9.js
Work/public/10.js
Work/public/11.js
Work/public/12.js
Work/public/13.js
Work/public/index.php
Work/public/mix-manifest.json
Work/public/robots.txt


Work/package-lock.json
Work/package.json

# Laravel 4 specific
Work/bootstrap/compiled.php
Work/app/storage/

# Laravel 5 & Lumen specific
Work/storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

Work/package-lock.json
Work/package.json
Work/public/0.js
Work/public/js/app.js
